arm7/build/.map
arm7/build/cheat_engine_arm7.o
arm7/build/cheat_engine_arm7.d
arm7/build/main.d
arm7/build/main.o
arm7/NitroHax.arm7.elf
arm9/build/.map
arm9/build/bgsub.d
arm9/build/bgtop.o
arm9/build/bgsub.h
arm9/build/bgsub.o
arm9/build/bgsub.s
arm9/build/bgtop.d
arm9/build/bgtop.h
arm9/build/bgtop.s
arm9/build/bios_decompress_callback.d
arm9/build/bios_decompress_callback.o
arm9/build/button_file.d
arm9/build/button_file.h
arm9/build/button_file.o
arm9/build/button_file.s
arm9/build/button_folder.d
arm9/build/button_folder.h
arm9/build/button_folder.o
arm9/build/button_folder.s
arm9/build/button_go.d
arm9/build/button_go.h
arm9/build/button_go.o
arm9/build/button_go.s
arm9/build/button_off.d
arm9/build/button_off.h
arm9/build/button_off.o
arm9/build/button_off.s
arm9/build/button_on.d
arm9/build/button_on.h
arm9/build/button_on.o
arm9/build/button_on.s
arm9/build/cheat.d
arm9/build/cheat.o
arm9/build/cheat_engine.d
arm9/build/cheat_engine.o
NitroHax.nds
NitroHax.arm9
NitroHax.arm7
BootLoader/load.bin
BootLoader/build/read_card.o
BootLoader/build/read_card.d
BootLoader/build/read_bios.o
BootLoader/build/read_bios.d
BootLoader/build/main.arm9.o
BootLoader/build/main.arm9.d
BootLoader/build/main.arm7.o
BootLoader/build/main.arm7.d
BootLoader/build/load.map
BootLoader/build/load.arm7.elf
BootLoader/build/launch_ds_crt0.o
BootLoader/build/launch_ds_crt0.d
BootLoader/build/encryption.o
BootLoader/build/encryption.d
BootLoader/build/crt0.arm9.o
BootLoader/build/crt0.arm9.d
BootLoader/build/clear_mem.o
BootLoader/build/clear_mem.d
BootLoader/build/clear_cache.arm9.o
BootLoader/build/clear_cache.arm9.d
BootLoader/build/cheat_engine.o
BootLoader/build/cheat_engine.d
BootLoader/build/cheat.o
BootLoader/build/cheat.d
arm9/NitroHax.arm9.elf
arm9/data/load.bin
arm9/build/ui.o
arm9/build/ui.d
arm9/build/textbox.s
arm9/build/textbox.o
arm9/build/textbox.h
arm9/build/textbox.d
arm9/build/scrollbar.s
arm9/build/scrollbar.o
arm9/build/scrollbar.h
arm9/build/scrollbar.d
arm9/build/nds_card.o
arm9/build/nds_card.d
arm9/build/main.o
arm9/build/main.d
arm9/build/load_bin.h
arm9/build/load.bin.o
arm9/build/font.s
arm9/build/font.o
arm9/build/font.h
arm9/build/font.d
arm9/build/cursor.s
arm9/build/cursor.o
arm9/build/cursor.h
arm9/build/cursor.d
arm9/build/crc.o
arm9/build/crc.d
arm9/build/consoletext.o
arm9/build/consoletext.d
NitroHax_NTR.cia
NitroHax_NTR.nds